<% provide(:title, "スポットを編集する") %>
<h1 class="font-bold text-3xl text-center mb-8">スポットを編集する</h1>

<div class="flex justify-center">
  <%= form_with(model: @spot, method: :put, html: { class: "space-y-4" }) do |form| %>

    <div class="field mb-6">
      <%= form.label :スポット名, class: "block text-xl text-gray-700 font-semibold ml-4" %>
      <%= form.text_field :spot_name, class: "w-80 px-3 py-2 mx-4 my-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent" %>
    </div>

    <div class="field">
      <%= form.label :住所, class: "block text-xl text-gray-700 font-semibold ml-4" %>  
      <%= form.text_field :address, class: "w-80 px-3 py-2 mx-4 my-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent" %>
    </div>

    <div class="field">
      <%= form.label :タグ, class: "block text-xl text-gray-700 font-semibold ml-4" %>
      <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |t| %>
      <div class="checkbox-item flex items-center">
        <%= t.check_box %>
        <%= t.label(class: "ml-2") %>
      </div>
      <% end %>
    </div>

    <div class="field mx-4">
      <%= form.submit "登録", class: "w-80 bg-sky-500 text-white font-bold mt-8 my-8 py-2 px-4 rounded hover:bg-sky-600 transition duration-200" %>
    </div>
  <% end %>
</div>