<div class="flex flex-col items-center bg-white py-12 mt-16 shadow-xl rounded-lg">
  <%= form_with url: search_spots_path, method: :get, local: true do %>
    <%= text_field_tag :q, params[:q], placeholder: "スポットを検索" %>
    <%= submit_tag "検索" %>
  <% end %>

  <% if @spots.present? %>
    <h2>検索結果:</h2>
    <ul>
      <% @spots.each do |spot| %>
        <li>
          <%= link_to spot.spot_name, spot_path(spot) %> 
          <%= spot.address %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>検索結果が見つかりませんでした。</p>
  <% end %>
</div>