<% provide(:title, "スポット詳細") %>
<div class="flex flex-col items-center py-12 w-full max-w-lg mx-auto relative">
  <div class="flex justify-between items-center border-b-2 border-b-gray-200 my-8 w-full">
    <h1 class="font-bold text-xl text-gray-700">
      <%= @spot.spot_name %>
    </h1>
    <div class="flex items-center space-x-4">
      <%= render 'favorite_button' %>
      <svg id="dropdownbutton" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
      </svg>
    </div>
    <div id="dropdownlist" class="hidden absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg z-10">
      <ul class="py-1">
        <li>
          <%= link_to "投稿する", new_spot_post_path(@spot), class: "block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100" %>
        </li>
        <li>
          <%= link_to "スポット編集", edit_spot_path(@spot), class: "block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100" %>
        </li>
        <% if @spot.user_id == current_user.id %>
          <li>
            <%= button_to "スポット削除", spot_path(@spot), data: { confirm: "Are you sure?", turbo_confirm: "本当に削除しますか？" }, method: :delete, class: "block w-full text-left px-4 py-2 text-red-600 hover:bg-red-100" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="mb-8 pb-8 w-full border-b-2 border-b-gray-200">
    <p class="py-2">
      <span class="text-md font-semibold text-gray-700">住所:<%= @spot.address %></span>
      <% @spot.tags.each do |tag| %>
        <span class="inline-block bg-yellow-500 text-white text-md font-semibold mr-2 px-2.5 py-0.5 rounded-full">
          <%= tag.tag_name %>
        </span>
      <% end %>
    </p>
    <div id="map"style="height: 300px; width: 100%;"></div>
  </div>
  <script>
    function initMap(){
      // 地図の位置情報(緯度・経度)を取得
      const mapPosition = {lat: <%= @spot.latitude || 0 %> , lng: <%= @spot.longitude || 0 %> };
      const map = new google.maps.Map(document.querySelector('#map'), {
        zoom: 15,
        center: mapPosition
      });
      const transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      const contentString = '【住所】<%= @spot.address %>';
      const infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      const marker = new google.maps.Marker({
        position: mapPosition,
        map: map,
        title: contentString
      });

      marker.addListener('click', function(){
        infowindow.open(map, marker);
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&libraries=marker&callback=initMap" async defer></script>
  <% @spot.posts.each do |post|%>
    <%= render 'shared/post', post: post, show_spot_info: false %>
  <% end %>
</div>