<% provide(:title, "マイページ") %>
<div class="flex flex-col items-center py-12 w-80 md:w-full max-w-3xl mx-auto">
  <div class="flex items-center space-x-4 my-8">
    <div class="flex-shrink-0">
      <%= render 'shared/avatar', user: @user %>
    </div>
    <div class="flex-1 text-gray-700 mx-2">
      <p class="text-lg font-semibold truncate">
        <%= current_user.name %>
      </p>
    </div>
    <%= link_to "編集", edit_user_registration_path(current_user), class: "bg-blue-sky text-white font-bold py-2 px-4 rounded hover:bg-sky-600 transition duration-200" %>
  </div>
  <div data-controller="tabs" class="w-full max-w-2xl mx-auto">
    <!-- タブボタン -->
    <div class="flex justify-center space-x-4 mb-4 border-b w-72">
      <button data-action="click->tabs#selectTab" data-tabs-target="tab" class="tab-button py-2 px-4 font-semibold text-gray-600 border-b-2 border-transparent hover:border-blue-500 hover:text-blue-500">登録したスポット</button>
      <button data-action="click->tabs#selectTab" data-tabs-target="tab" class="tab-button py-2 px-4 font-semibold text-gray-600 border-b-2 border-transparent hover:border-blue-500 hover:text-blue-500">投稿一覧</button>
      <button data-action="click->tabs#selectTab" data-tabs-target="tab" class="tab-button py-2 px-4 font-semibold text-gray-600 border-b-2 border-transparent hover:border-blue-500 hover:text-blue-500">お気に入りスポット</button>
    </div>
    <!-- タブの内容 -->
    <div data-tabs-target="content">
      <%= render 'shared/spot' %>
    </div>
    <div data-tabs-target="content" class="hidden">
      <% @user.posts.each do |post| %>
        <%= render 'shared/post', post: post, show_spot_info: true %>
      <% end %>
    </div>
    <div data-tabs-target="content" class="hidden">
      <% @favorite_spots.each do |favorite_spot| %>
        <div class="bg-white shadow-xl rounded-2xl max-w-md mb-5 w-full mx-auto flex flex-col p-5 items-center font-semibold text-gray-500">
          <%= link_to favorite_spot.spot_name, spot_path(favorite_spot), class: "text-blue-500 hover:underline mb-2" %>
          <%= favorite_spot.address %>
        </div>
      <% end %>
    </div>
  </div>
</div>