<header class="navbar bg-base-300">
  <div class="btn btn-ghost text-xl">
    <%= link_to "Moto map", "/" %>
  </div>

  <div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <label for="my-drawer-4" class="drawer-button btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 space-y-4 text-2xl text-opacity-40">
        <% if user_signed_in? %>
          <%= link_to "投稿一覧", posts_path, class: "mx-1" %>
          <%= link_to "スポットを探す", spots_path, class: "mx-1" %>
          <%= link_to "スポットを登録", new_spot_path, class: "mx-1" %>
          <%= link_to "マイページ", user_path(current_user), class: "mx-1" %>
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "mx-1" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "mx-1" %>
          <%= link_to "ログイン", new_user_session_path, class: "mx-1" %>
        <% end %>
      </ul>
    </div>
  </div>
</header>