<%= form_with model: [@spot, @post], class: "space-y-6 w-full" do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="flex flex-col">
    <%= form.label :content, "投稿", class: "block text-md text-gray-700 font-semibold mb-2" %>
    <%= form.text_area :content, size: "50x15", class: "w-full px-3 py-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent" %>
  </div>
  <div class="flex flex-col">
    <%= form.label :画像を選択, class: "block text-md text-gray-700 font-semibold mb-2" %>
    <%= form.file_field :images, accept: "image/jpeg,image/gif,image/png", class: "file-input file-input-bordered w-full max-w-xs" %>
  </div>
  <div class="flex justify-center">
    <%= form.submit "投稿", class: "w-full bg-blue-sky text-white font-bold py-3 rounded hover:bg-sky-600 transition duration-200" %>
  </div>
<% end %>