<!DOCTYPE html>
<html>
  <head>
    <title>Motoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="w-full h-16 top-0 bg-sky-300 flex fixed">
      <div class="text-left text-4xl text-opacity-40 ml-5 mt-2">
            <%= link_to "moto app", "/"%>
      </div>
      <svg id="open" xmlns="http://www.w3.org/2000/svg" class="absolute top-1 right-4 h-12 w-12 cursor-pointer m-1" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>

      <nav id="overlay" class="hidden fixed top-0 bottom-0 right-0 left-3/4 bg-gray-100 bg-opacity-50 text-center transition-opacity">
        <svg id="close" xmlns="http://www.w3.org/2000/svg" class="absolute top-3 right-4 h-12 w-12 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        <ul class="flex flex-col space-y-4 text-2xl text-opacity-40 mt-14">
          <% if user_signed_in? %>
            <%= link_to "検索", spots_path, class: "mx-1" %>
            <%= link_to "スポットを登録", new_spot_path, class: "mx-1" %>
            <%= link_to "マイページ", user_path(current_user), class: "mx-1" %>
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "mx-1" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: "mx-1" %>
            <%= link_to "ログイン", new_user_session_path, class: "mx-1" %>
          <% end %>
        </ul>
      </nav>

      <% flash.each do |key, message| %>
        <div class="alert bg-green-200 <%= key %>">
          <%= message %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
