<!DOCTYPE html>
<html>
  <head>
    <title>Motoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="w-full h-14 bg-sky-300">
        <div class="flex justify-between max-w-5xl mx-auto">
          <div class="text-left text-4xl text-opacity-40 ml-5 mt-2">
            <%= link_to "moto app", "/"%>
          </div>
            <ul class="text-right text-2xl text-opacity-40 mt-3">
              <li class="float-right mx-1">検索</li>
              <%= link_to "新規登録", new_user_registration_path, class: "float-right mx-1" %>
              <%= link_to "ログイン", new_user_session_path, class: "float-right mx-1" %>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "float-right mx-1" %>
              <%# <%= link_to "マイページ", user_path(@user), class: "float-right mx-1" %> %>
            </ul>
        </div>
      </nav>
      <% flash.each do |key, message| %>
        <div class="alert bg-green-200 <%= key %>">
          <%= message %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
