<!DOCTYPE html>
<html>
  <head>
    <title>Motoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="w-full h-14 bg-sky-300">
        <div class="flex justify-between max-w-5xl mx-auto">
          <div class="text-left text-4xl text-opacity-40 ml-5 mt-2">
            moto app
          </div>
            <ul class="text-right text-2xl text-opacity-40 mt-3">
              <li class="float-right mx-1">検索</li>
              <%= link_to "新規登録", new_user_path, class: "float-right mx-1" %>
              <li class="float-right mx-1">ログイン</li>
            </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
